body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

#canvas {
  border: 1px solid rgb(79, 90, 102);
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
}
